/* SEARCH BOX STYLE MOBILE*/

.search-field{
    margin-left: 10%;
    margin-bottom: 50px;
    margin-top: 50px;
}

input{
    height: 30px;
    width: 70%;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    border: 1px solid rgb(185, 185, 185);
}
::placeholder{
    padding-left: 10px;
}

input:focus{
    outline: none;
}


/* IMAGES STYLE */

.flex-1{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

.flex-1 a img{
    margin-left: 20px;
    margin-bottom: 50px;
}


/* MEDIA Q RULE IPAD*/

@media only screen and (min-width: 1024px) {

body{
    margin: 2vh 2vw 0 2vw;
}

input{
    width: 50%;
}

.search-field{
    margin-left: 25%;
}


}